<nav class="navbar-custom">
  <div class="nav-wrapper container">
    <a href="index.html" class="brand-logo">
      <img src="img/mart_ja_pojad_nobg.png" alt="Märt & Pojad MTJ Logo">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="teenused.html">TEENUSED</a></li>
      <li><a href="hinnakiri.html">HINNAKIRI</a></li>
      <li><a href="masinad.html">MASINAD</a></li>
      <li><a href="galerii.html">GALERII</a></li>
      <li><a href="kontakt.html">KONTAKT</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a class="sidenav-text" href="teenused.html">TEENUSED</a></li>
  <li><a class="sidenav-text" href="hinnakiri.html">HINNAKIRI</a></li>
  <li><a class="sidenav-text" href="masinad.html">MASINAD</a></li>
  <li><a class="sidenav-text" href="galerii.html">GALERII</a></li>
  <li><a class="sidenav-text" href="kontakt.html">KONTAKT</a></li>
</ul>
